// Bottom rigth chat button
.lets-chat
	background-color primary
	box-shadow 0 1px 2px 0 rgba(0, 0, 0, 0.22)
	// 2.5 because its not exactly center
	right calc(-68px / 2.5)
	bottom calc(-68px / 2.5)
	position absolute
	border-radius 50%
	width 68px
	height 68px
	@media (max-width mobile)
		display none


// EB
.headline-icon
	width rem(80px)
	aspect-ratio (1)
	height rem(80px)
	margin 0 auto rem(20px)
