// Icons
icomoon-font-path = '~assets/fonts/icomoon'
@import './icomoon/style'

@import url('https://fonts.googleapis.com/css?family=Open+Sans')

body
  font-family 'Assistant', sans-serif

// Reset margins
h1, h2, h3, h4, p
  margin-top 0
  margin-bottom 0
