icomoon-font-path ?= "fonts"

icon-linkedin = "\e906"
icon-instagram = "\e907"
icon-twitter = "\e908"
icon-arrow = "\e902"
icon-arrow-down = "\e903"
icon-line = "\e904"
icon-Check = "\e905"
icon-speech-arrow = "\e901"
icon-facebook = "\e900"

